.fileGrid {
  position: absolute;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  grid-auto-rows: minmax(150px, auto);
  top: 0;
  left: 0;
  margin: 40px;
  margin-top: 60px;
}
