@import '../../styles/variables.module.scss';

.fileGrid {
  position: absolute;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(125px, auto);
  top: 0;
  left: 0;
  margin: 40px;
  margin-top: 60px;

  @media (max-width: 768px), (max-height: 700px) {
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    margin-top: 40px;
  }
}
