@import '../../../../styles/variables.module.scss';

.experienceProgram {
  height: 100%;
  width: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: $program-color $program-outline-color;
  padding-right: 20px;

  &::-webkit-scrollbar {
    width: 8px;

    &-track,
    &-thumb {
      border-radius: 100px;
    }

    &-track {
      background-color: $program-color;
    }

    &-thumb {
      background-color: $program-outline-color;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
  }
}

.jobCard {
  margin-bottom: 10px;
  font-size: 14px;
  color: $text-color;

  a {
    font-weight: bold;
    font-size: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    white-space: pre-line;
  }

  &__dates,
  &__title {
    margin: 0;
    font-size: 13px;
    opacity: 0.8;
  }
}
