@import '../../../../styles/variables.module.scss';

.journalImage {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;

  &__container {
    width: 100%;
    margin: 0;

    > div {
      position: unset !important;
    }
  }
}
