@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 32 57% 95%;
    --backgroundRGB: 343 35% 55%;
    --text: 248 19% 40%;
    --dot: 248 19%, 40%;
    --programOutline: 343 35% 55%;
    --program: 32 57% 95%;
    --select: 32 57% 85%;
    --themeTitle: 248 19% 40%;
  }

  .dark {
    --background: 240 13% 14%;
    --backgroundRGB: 353 69% 65%;
    --text: 51 33% 80%;
    --dot: 51 33%, 80%;
    --programOutline: 353 69% 65%;
    --program: 240 13% 14%;
    --select: 49 8% 26%;
    --themeTitle: 51 33% 80%;
  }
}
