@import '../../styles/variables.module.scss';

.taskbarItem {
  display: grid;
  place-items: center;
  width: 125px;
  margin: 0;
  gap: 10px;
  cursor: pointer;
  $item: &;

  &__icon,
  &__name {
    pointer-events: none;
    user-select: none;
  }

  &__icon {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    object-fit: cover;

    svg {
      transform: scale(0.8);
    }
  }

  &__name {
    font-size: 14px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
    color: $text-color;
    text-align: center;
  }
}
