@import "tailwindcss";

@theme {
  --color-primary: #f2d5cf;
  --color-secondary: #414559;
  --color-tertiary: #e78284;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #232634;
    --color-secondary: #c6d0f5;
  }
}

[data-theme='wood'],
main.light[data-theme='wood'] {
  --color-primary: #fff;
  --color-secondary: #000;
}

main.dark[data-theme='wood'] {
  --color-primary: #000;
  --color-secondary: #fff;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
