@import "tailwindcss";

@font-face {
  font-family: "ABC Favorit";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("https://res.cloudinary.com/dht1hywnn/raw/upload/v1/fonts/abc_favorit/abcfavorit-book.woff2") format("woff2");
}

@font-face {
  font-family: "ABC Favorit";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://res.cloudinary.com/dht1hywnn/raw/upload/v1/fonts/abc_favorit/abcfavorit.woff2") format("woff2");
}

@font-face {
  font-family: "ABC Favorit Mono";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("https://res.cloudinary.com/dht1hywnn/raw/upload/v1/fonts/abc_favorit/abcfavoritmono-book.woff2") format("woff2");
}

@font-face {
  font-family: "ABC Favorit Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://res.cloudinary.com/dht1hywnn/raw/upload/v1/fonts/abc_favorit/abcfavoritmono.woff2") format("woff2");
}

@font-face {
  font-family: "Suisse Intl";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("https://res.cloudinary.com/dht1hywnn/raw/upload/v1/fonts/suisse/suisseintl-light.woff2") format("woff2");
}

@font-face {
  font-family: "Suisse Intl";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://res.cloudinary.com/dht1hywnn/raw/upload/v1/fonts/suisse/suisseintl.woff2") format("woff2");
}

@font-face {
  font-family: "Suisse Intl";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://res.cloudinary.com/dht1hywnn/raw/upload/v1/fonts/suisse/suisseintl-medium.woff2") format("woff2");
}

@font-face {
  font-family: "Suisse Intl Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://res.cloudinary.com/dht1hywnn/raw/upload/v1/fonts/suisse/suisseintlmono.woff2") format("woff2");
}

@theme {
  --color-primary: #f2d5cf;
  --color-secondary: #414559;
  --color-tertiary: #e78284;
  --color-success: #00ffff;
  --color-warning: #00ff00;
  --color-error: #ff0000;
  --font-family-base: "ABC Favorit", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

[data-theme='poimandres'],
main.light[data-theme='poimandres'] {
  --color-primary: #fefeff;
  --color-secondary: #1b1e28;
  --color-tertiary: #0ebfff;
  --color-success: #5de4c7;
  --color-warning: #fffac2;
  --color-error: #d0679d;
}

[data-theme='catppuccin-mocha'],
main.light[data-theme='catppuccin-mocha'] {
  --color-primary: #f5e0dc;
  --color-secondary: #1e1e2e;
  --color-tertiary: #89b4fa;
  --color-success: #a6e3a1;
  --color-warning: #f9e2af;
  --color-error: #f38ba8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #232634;
    --color-secondary: #c6d0f5;
  }

  [data-theme='poimandres'] {
    --color-primary: #1b1e28;
    --color-secondary: #fff;
    --color-tertiary: #add7ff;
  }

  [data-theme='catppuccin-mocha'] {
    --color-primary: #1e1e2e;
    --color-secondary: #f5e0dc;
    --color-tertiary: #cba6f7;
  }
}

main.dark[data-theme='poimandres'] {
  --color-primary: #1b1e28;
  --color-secondary: #fff;
  --color-tertiary: #add7ff;
}

main.dark[data-theme='catppuccin-mocha'] {
  --color-primary: #1e1e2e;
  --color-secondary: #f5e0dc;
  --color-tertiary: #cba6f7;
}

:root {
  font-family: var(--font-family-base);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
}

.lucide {
  color: var(--color-secondary);
}
