html,
body {
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// CSS VARIABLES (required for next-themes)
// ---------------------------------------------

:root,
[data-theme='dark'] {
  --bg-color: #000;
  --bg-rgb-color: 0, 0, 0;
  --text-color: #f0eff4;
  --dot-color: 240, 239, 244;
  --program-outline-color: #da4167;
  --program-color: #3d2645;
  --select-color: #832161;
  --theme-title-color: #f0eff4;
}

[data-theme='coquelicot'] {
  --bg-color: #191919;
  --bg-rgb-color: 25, 25, 25;
  --text-color: #fff;
  --dot-color: 255, 255, 255;
  --program-outline-color: #f15025;
  --program-color: #f15025;
  --select-color: #f15025;
  --theme-title-color: #fff;
}

[data-theme='vice'] {
  --bg-color: #29132e;
  --bg-rgb-color: 41, 19, 46;
  --text-color: #fccbff;
  --dot-color: 248, 135, 255;
  --program-outline-color: #de004e;
  --program-color: #321450;
  --select-color: #860029;
  --theme-title-color: #fccbff;
}

[data-theme='nostalgia'] {
  --bg-color: #e5ffff;
  --bg-rgb-color: 229, 255, 255;
  --text-color: #3b3341;
  --dot-color: 59, 51, 65;
  --program-outline-color: #00ffff;
  --program-color: #c574ff;
  --select-color: #00ffff;
  --theme-title-color: #3b3341;
}

[data-theme='forest'] {
  --bg-color: #5cdb95;
  --bg-rgb-color: 92, 219, 149;
  --text-color: #edf5e1;
  --dot-color: 237, 245, 225;
  --program-outline-color: #379683;
  --program-color: #05386b;
  --select-color: #05386b;
  --theme-title-color: #edf5e1;
}

[data-theme='zomp'] {
  --bg-color: #0a2342;
  --bg-rgb-color: 10, 35, 66;
  --text-color: #fffdf7;
  --dot-color: 255, 253, 247;
  --program-outline-color: #2ca58d;
  --program-color: #84bc9c;
  --select-color: #f46197;
  --theme-title-color: #fffdf7;
}

[data-theme='electrode'] {
  --bg-color: #35006a;
  --bg-rgb-color: 53, 0, 106;
  --text-color: #fffed1;
  --dot-color: 255, 254, 209;
  --program-outline-color: #fff83b;
  --program-color: #6300bb;
  --select-color: #ffda41;
  --theme-title-color: #35006a;
}
