html,
body {
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// CSS VARIABLES (required for next-themes)
// ---------------------------------------------

:root {
  --bg-color: #000;
  --text-color: #f0eff4;
  --dot-color: 240, 239, 244;
  --program-outline-color: #da4167;
  --program-color: #3d2645;
  --select-color: #832161;
}
