// VARIABLES
// --------------

// colors
$bg-color: hsl(220, 100, 3);
$dot-color: hsl(256, 33, 90);
$program-outline-color: hsl(256, 93, 90);
$program-color: hsl(220, 60, 18);

// sizes
$dot-size: 1px;
$dot-space: 22px;
