// VARIABLES
// --------------

// colors
$bg-color: #000;
$text-color: #f0eff4;
$dot-color: #f0eff4;
$program-outline-color: #da4167;
$program-color: #3d2645;
$select-color: #832161;

// sizes
$dot-size: 1px;
$dot-space: 20px;
