// VARIABLES
// --------------

// colors
$bg-color: var(--bg-color);
$bg-rgb-color: var(--bg-rgb-color);
$text-color: var(--text-color);
$dot-color: var(--dot-color);
$program-outline-color: var(--program-outline-color);
$program-color: var(--program-color);
$select-color: var(--select-color);
$theme-title-color: var(--theme-title-color);

// sizes
$dot-size: 1px;
$dot-space: 20px;
