@import '../../../../styles/variables.module.scss';

.feedItem {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;

  &__message {
    margin: 0;
    font-size: 16px;
  }

  &__name {
    font-size: 14px;
    color: $program-outline-color;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__time {
    font-size: 13px;
    color: $text-color;
    opacity: 0.8;
    font-weight: normal;
    text-transform: none;
  }
}
